@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body{
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
}

.nav-item a{
    color:rgba(255,255,255,1.00); 
    font-weight:600; 
    text-transform:uppercase;
}

.my-btn:hover, .my-btn:active, .my-btn:visited{
	background-color: #3AAFA9 !important;
	border-color: #3AAFA9 !important;
	color: #ffffff !important;
}

.my-btn{
	border-color: #3AAFA9 !important;
	color: #3AAFA9 !important;
}

.brand:hover{
    cursor: pointer;
}

.hide{
    display: none;
}

.invis{
    visibility: hidden;
}

.stream-title{
    cursor: pointer;
}

.viewers{
    color: red;
}

.viewers-peak{
    color: blue;
}

.popover{
    width: 100% !important;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.hideOverflow{
    display: block;
    display: -webkit-box;
    max-width: 400px;
    height: 50px;
    margin: 0 auto;
    line-height: 1.2;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dark-icon{
    color: black;
    font-size: 4em;
}

.online{
    color: green;
}

.offline{
    color: red;
}

.main-loader{
    border: 1.3em solid #f3f3f3; /* Light grey */
    border-top: 1.3em solid red; /* Blue */
    border-radius: 50%;
    width: 13em;
    height: 13em;
    animation: spin 1s linear infinite;
}

.mini-loader{
    border: .4em solid #f3f3f3; /* Light grey */
    border-top: .4em solid red; /* Blue */
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.chart-side-bar{
    max-height: 40vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.custom-flex{
    display: -webkit-box!important;
    display: -ms-flexbox!important;
}

/*Scrollbar styling*/
::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-track-piece{
    background-color: #FFF;
}

::-webkit-scrollbar-thumb{
    background-color: #CBCBCB;
    outline: 2px solid #FFF;
    outline-offset: -2px;
    border: .1px solid #B7B7B7;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #909090;
}

.channel-container{
    background-color: #212529;
}

.stream-viewers{
    color: white;
}

/*anchor tag color*/
a.chan-name:visited{
    color: #3AAfa9 !important;
}

a.chan-name:active{
    color: #3AAfa9 !important;
}

a.chan-name{
    color: #3AAfa9 !important;
}

.channel-header{
    background-color: #3AAfa9;
    color: #fafafa;
}

.track-input{
    width: 24em;
}

@keyframes invalid {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.invalid-input{
   animation-name: invalid;
   animation-duration: .3s;
}


/***FOOTER CSS ***/
.footer-bs {
    background-color: #3c3d41;
    padding: 20px 80px;
    color: rgba(255,255,255,1.00);
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
}

.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { 
    padding:10px 25px; 
}

.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { 
    border-color: transparent; 
}

.footer-bs .footer-brand h2 { 
    margin:0px 0px 10px; 
}

.footer-bs .footer-brand p { 
    font-size:12px; 
    color:rgba(255,255,255,0.70); 
}

.footer-bs .footer-nav ul.pages { 
    list-style:none; padding:0px; 
}

.footer-bs .footer-nav ul.pages li { 
    padding:5px 0px;
}

.footer-bs .footer-nav ul.pages a { 
    color:rgba(255,255,255,1.00); 
    font-weight:bold; 
    text-transform:uppercase; 
}

.footer-bs .footer-nav ul.pages a:hover { 
    color:rgba(255,255,255,0.80); 
    text-decoration:none; 
}

.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { 
    list-style:none; padding:0px; 
}

.footer-bs .footer-nav ul.list li { 
    padding:5px 0px;
}

.footer-bs .footer-nav ul.list a { 
    color:rgba(255,255,255,0.80); 
}

.footer-bs .footer-nav ul.list a:hover { 
    color:rgba(255,255,255,0.60); text-decoration:none; 
}

.footer-bs .footer-social ul { 
    list-style:none; padding:0px; 
}

.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.footer-bs .footer-social li { 
    padding:5px 4px;
}

.footer-bs .footer-social a { 
    color:rgba(255,255,255,1.00);
}

.footer-bs .footer-social a:hover { 
    color:rgba(255,255,255,0.80); 
    text-decoration:none; 
}

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}

.footer-bs .footer-ns p { 
    font-size:12px; 
    color:rgba(255,255,255,0.70); 
}

@media (min-width: 768px) {
    .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { 
        border-left:solid 1px rgba(255,255,255,0.10); 
    }
}

@media (max-width: 768px) {
    .track-input-ref{
        font-size: .6em;
    }

    .footer-bs .footer-nav ul.pages a {
        font-weight: 500;
        font-size: .6em;
    }

    .footer-bs {
        padding: 10px 20px;
    }
}

@media (max-width: 414px) {
    #channel-stats-bar-cont{
        height: 30vh !important;
    }
}

.card-group {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap; 
  align-items: stretch;
}
.card-group .card {
  display: block;
  flex-basis: 33.33%; /* change this value for each breakpoint*/
}