@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body{
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.my-btn:hover, .my-btn:active, .my-btn:visited{
	background-color: #3AAFA9 !important;
	border-color: #3AAFA9 !important;
	color: #ffffff !important;
}

.my-btn{
	border-color: #3AAFA9 !important;
	color: #3AAFA9 !important;
}

.brand:hover{
    cursor: pointer;
}

.hide{
    display: none;
}

.invis{
    visibility: hidden;
}

.stream-title{
    cursor: pointer;
}

.viewers{
    color: red;
}

.viewers-peak{
    color: blue;
}

.popover{
    width: 100% !important;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.hideOverflow{
    display: block;
    display: -webkit-box;
    max-width: 400px;
    height: 50px;
    margin: 0 auto;
    line-height: 1.2;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dark-icon{
    color: black;
    font-size: 4em;
}

.online{
    color: green;
}

.offline{
    color: red;
}

.main-loader{
    border: 1.3em solid #f3f3f3; /* Light grey */
    border-top: 1.3em solid red; /* Blue */
    border-radius: 50%;
    width: 13em;
    height: 13em;
    animation: spin 1s linear infinite;
}

.mini-loader{
    border: .4em solid #f3f3f3; /* Light grey */
    border-top: .4em solid red; /* Blue */
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}