.welcome-page{
    color: #636b6f;
    font-family: 'Raleway', sans-serif !important;
}

.full-height {
    height: 80vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 4.2em;
    color: #17252A;
    font-weight: 700;
}

.subtitle {
    font-size: 1.8em;
}

.esportsTitles > a {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;

    background-color: #3AAFA9;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

.esportsTitles > a:hover {
    background-color: #2B7A78;
}

.m-b-md {
    margin-bottom: 20px;
}