.welcome-page{
    color: #636b6f;
    font-family: 'Raleway', sans-serif !important;
}

.full-height {
    height: 80vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.title {
    font-size: 4.2em;
    color: #17252A;
    font-weight: 700;
}

.subtitle {
    font-size: 1.8em;
}
